body{
    background-color:#f4f4f4;
    color:#555555;
    
   /* uitgebreide notatie*/
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal; */
    
    font:normal 14px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}
.container{
    /* width: 500px; */
    width: 80%;
    margin: auto;
}
/* .box-0{
    background-color: #3a8280;
    color: #f4f4f4;
    margin: 2px 5px;
    padding: 5px 10px;
} */

a{
    text-decoration:none;
    color: #fff;
}
a:hover{
    color: #e97b21;
}

a:active{
    color: yellow;
}
.categories{
    background-color: #182638;
    color: white;
    margin: 2px 5px;
    padding: 5px 10px;
}
.categories li{
    list-style: none;
    display: inline;
}

.box-1{
    background-color: #6e2a46;
    color: #f4f4f4;
    margin: 2px 5px;
    padding: 5px 10px;
}
.box-1 h1{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
font-style: italic;
}
.box-2{
    background-color: #6e612a;
    color: #f4f4f4;
    margin: 2px 5px;
    padding: 2px 10px;
   
   /*uitgebreide notatie*/
    /* border-right: 10px  #113640 solid;
    border-left: 10px  #113640 solid;
    border-top: 10px  #113640 solid;
    border-bottom: 10px  #113640 solid; */

    border: 5px  #3a8280 solid;
    border-bottom-width:15px;
}
.box-3{
    background-color: #113640;
    color: #f4f4f4;
    margin: 2px 5px;
    padding: 2px 10px;
}
